<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-autowire="byName">

    <bean id="entityManagerFactory" class="hr.veleri.HelpdeskEntityManagerFactoryBean">
        <constructor-arg>
            <map>
                <!-- PostgreSQL -->
                <!--<entry key="hibernate.connection.url"-->
                       <!--value="vJ5cbxcNMxtArkDN8Bsa11NW1xarTgvZIjX+Jugldf+sMFgCLG6n4FSx7OsDfkDu+zm7gNBkur0="/>-->
                <!--<entry key="hibernate.connection.user" value="zJEoXb+5KEE9ZXrHNwsHh6XHUIEBgGz2"/>-->
                <!--<entry key="hibernate.connection.password" value="2ZshoUtU2wNYkL9DLKscBTwYaOSDlS/m"/>-->

                <!-- HSQLdb -->
                <entry key="hibernate.connection.url"
                       value="egOjmOGzSWOQ1+dc5bFRVles/yxAHJ2w9bpbOfM3Lecj4VOG+p9M/g=="/>
                <entry key="hibernate.connection.user" value="FEM7v6w0u+i+ax4HikMtsg=="/>
                <entry key="hibernate.connection.password" value="xbcNK05UJzFN4dxStyoTeg=="/>
            </map>
        </constructor-arg>
        <property name="persistenceUnitName" value="helpdeskJpaUnit"/>
    </bean>

    <!--
         enable the configuration of transactional behavior based on
         annotations
     -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="klijentValidator" class="hr.veleri.datavalidation.KlijentValidator">
        <property name="klijentDao" ref="klijentDao"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="klijentDao" class="hr.veleri.data.dao.jpa.KlijentDaoImp">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="prijaveDao" class="hr.veleri.data.dao.jpa.PrijaveImp">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="intervencijeDao" class="hr.veleri.data.dao.jpa.IntervencijeDaoImp">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="korisnikDao" class="hr.veleri.data.dao.jpa.KorisnikDaoImp">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="korisnikKlijentDao" class="hr.veleri.data.dao.jpa.KorisnikKlijentDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="korisnikZaposlenikDao" class="hr.veleri.data.dao.jpa.KorisnikZaposlenikDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="aplikacijaDao" class="hr.veleri.data.dao.jpa.AplikacijaDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="appConfiguration" class="hr.veleri.data.AppConfiguration">
        <property name="properties" ref="config"/>
    </bean>

    <bean id="config" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:config.properties"/>
    </bean>

    <bean id="initData" class="hr.veleri.data.InitData"/>

</beans>
