body {
    background-color: #f5f5dc;
    font-family: sans-serif;
}

.localePanel {
    color: gray;
    font-size: 75%;
}

.userinfo {
    font-size: 75%;
    color: gray;
}

.navigation {
    vertical-align: top;
}
